@model HouseRentManagementApp.Models.FlatMember

@{
    ViewBag.Title = "AddMember";
}

<section class="content container-fluid" style="padding-top:30px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add Flat Member</h3>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="home" class="control-label col-md-2">Name</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="occupationId" class="control-label col-md-2">Occupation</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.DropDownList("OccupationId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OccupationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="nationalIdOrBirthCertificate" class="control-label col-md-2">National Id Or Birth Certificate</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.NationalIdOrBirthCertificate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NationalIdOrBirthCertificate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="mobileNo" class="control-label col-md-2">Mobile No.</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" value="Create" class="btn btn-info">Save</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
