@model HouseRentManagementApp.Models.HouseRepresentative

@{
    ViewBag.Title = "Index";
    string logInError = ViewBag.LogInError;
}

<h2>Sign In For House Representative</h2>
@if (logInError != null)
{
    <label class="alert-warning">@logInError</label>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign In" class="btn btn-default" />
           
            @Html.ActionLink("Regiser", "Registration", "HouseRepresentatives")
        </div>
    </div>

   
}