@model HouseRentManagementApp.Models.Flat

@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="/Flats/Index"> Flat List</a></li>
        <li class="active">Edit</li>
    </ol>
</section>
<section class="content container-fluid" style="padding-top:30px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Edit Flat</h3>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.HomeId)
        @Html.HiddenFor(model => model.FlatNo)
        @Html.HiddenFor(model => model.FloorNo)
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="clearfix">
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-6" style="padding-bottom: 6px">
                            @Html.DropDownList("TypeId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group">
                        <label for="rentalPrice" class="col-sm-2 control-label">Rental Price</label>
                        <div class="col-sm-6" style="padding-bottom: 6px">
                            @Html.EditorFor(model => model.RentPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RentPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-6" style="padding-bottom: 6px">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" value ="Save" class="btn btn-info">Save</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
