@model HouseRentManagementApp.Models.RentedBy

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Renter?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Flat No")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flats.FlatNo)
        </dd>

        <dt>
            @Html.DisplayName("Renter")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseRepresentatives.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
