@{
    ViewBag.Title = "HouseInformtion";
}

<h2>HouseInformtion</h2>

<link href="~/Content/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="CityId" class="control-label col-md-2">Select A City</label>
            <div class="col-md-10">
                <select name="CityId" id="CityId">
                    <option>--Select--</option>
                    @foreach (var City in ViewBag.CityId)
                    {
                        <option value="@City.Id">@City.Name</option>
                    }


                </select>
            </div>
        </div>



        <div class="form-group">

            <label for="AreaId" class="control-label col-md-2">Select an Area</label>
            <div class="col-md-10">
                <select name="AreaId" id="AreaId">
                </select>
            </div>
        </div>
   
  

<div class="form-group">
            <table id="myTable" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>House Name</th>
                        <th>House No</th>
                        <th>Owner Name</th>
                        <th>Owner MobileNo</th>
                        <th>Address</th>
                        <th>Descriptions</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>

</div>

}

@section Scripts {
                 @Scripts.Render("~/bundles/jqueryval")

         <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>

         <script>
    $(document).ready(function () {
                $("#CityId").change(function () {

                    var ctId = $("#CityId").val();

                    $("#AreaId").empty();
                    $("#AreaId").append('<option value="">Select</option>');
                    var json = { CityId: ctId };
                    $.ajax({
                        type: "POST",
                        url: '/Admins/GetAreaByCityId',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {

                            $.each(data, function (key, value) {
                                $("#AreaId").append('<option value="' + value.Id + '">' + value.Name + '</option>');


                            });
                        }
                    });
                });

                   var table = $("#myTable").DataTable();
                $("#AreaId").change(function () {
                    var ArId = $("#AreaId").val();

                    $("#myTable").show();
                    $("#tableBody").empty();
                    var json = { AreaId: ArId };
                    $.ajax({
                        type: "POST",

                        url: '/Admins/GetHouseInfo',

                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {


                            $.each(data, function (key, value) {
                                $("#tableBody").append('<tr><td>' + value.HouseName + '</td><td>' +value.HouseNo+'</td><td>' + value.OwnerName + '</td><td>'+ value.OwnerMobileNo+'</td><td>'+ value.Address+'</td><td>'+ value.Description+'</td></tr>');
                            });
                        }
                    });
                });

                 });

        </script>
             }