@model HouseRentManagementApp.Models.Home

@{
    ViewBag.Title = "Create";
}

<section class="content container-fluid" style="padding-top:30px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add Home</h3>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="CityId" class="control-label col-md-2">Select A City</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                <select name="CityId" id="CityId">
                                    <option>--Select--</option>
                                    @foreach (var City in ViewBag.CityId)
                                    {
                                        <option value="@City.Id">@City.Name</option>
                                    }


                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix">
                        <div class="form-group">

                            <label for="AreaId" class="control-label col-md-2">Select an Area</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                <select name="AreaId" id="AreaId">
                                    <option>--Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" value="Create" class="btn btn-info">Save</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script>

        $(document).ready(function () {
            $("#CityId").change(function () {
                var ctId = $("#CityId").val();

                $("#AreaId").empty();
                $("#AreaId").append('<option value="">Select</option>');
                var json = { CityId: ctId };
                $.ajax({
                    type: "POST",
                    url: '/Homes/GetAreaByCityId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $.each(data, function (key, value) {
                            $("#AreaId").append('<option value="' + value.Id + '">' + value.Name + '</option>');


                        });
                    }
                });
            });
        });


    </script>


}
