@model HouseRentManagementApp.Models.Home

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Home</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.areas.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areas.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseOwners.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseOwners.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
