@model HouseRentManagementApp.Models.Home

@{
    ViewBag.Title = "Edit";
}
<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="/Homes/Index"> Home List</a></li>
        <li class="active">Edit</li>
    </ol>
</section>
<section class="content container-fluid" style="padding-top:30px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Home</h3>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.HomeNo)
            @Html.HiddenFor(model => model.HouseOwnerId)
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-6" style="padding-bottom: 6px">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    }
</section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
   
